<!-- <div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="surveys" class="nav-link">Survey Manager</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div> -->



<div id="app" class="d-flex flex-column h-100">
  <div class="container" *ngIf="auth.isLoading$ | async; else loaded">
    <app-loading></app-loading>
  </div>

  <ng-template #loaded>
    <div class="nav-container mb-3">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
          <div class="navbar-brand logo"></div>
          <app-main-nav></app-main-nav>
          <app-auth-nav></app-auth-nav>
        </div>
      </nav>
    </div>

    <div class="container flex-grow-1">
      <div class="container mt-3">
        <router-outlet></router-outlet>
      </div>
    </div>

    <!-- <app-footer></app-footer> -->
  </ng-template>
</div>