<div class="list row">
    <button
        id="backButton"
        mat-raised-button 
        color="accent"
        (click)="back()"
        >
        Back
    </button>
</div>
<br/>
<div class="list row">
    <h1>{{title}}</h1>
</div>
<div class="list row">        
    <form name="survey" id="survey">
        <ul class="list-group">
            <li
                class="list-group-item"
                *ngFor="let question of questions; let i = index"
            >
                {{ question.text }}
                <div *ngIf="question.type === 'radio'; else second" >
                    <ul class="list-group">
                        <li
                            class="list-group-item"
                            *ngFor="let answer of question.answers; let i = index"
                        >   
                            <div class="form-group">
                                    
                                <input type={{question.type}} name={{question.id}} id="answer" (change)="onChange($event)" value={{answer.text}}>
                                {{ answer.text }}
                            </div>
                        </li>
                    </ul>
                </div>
                <ng-template #second>
                    <ng-container *ngIf="question.type === 'checkbox'; else third">
                        <ul class="list-group">
                            <li
                                class="list-group-item"
                                *ngFor="let answer of question.answers; let i = index"
                            >   
                                <div class="form-group">
                                    <input type={{question.type}} name={{question.id}} id="answer" (change)="onChange($event)" value={{answer.text}}>
                                    {{ answer.text }}
                                </div>
                            </li>
                        </ul>
                    </ng-container>
                </ng-template>
                <ng-template #third>
                    <div class="form-group">
                        <mat-form-field class="example-full-width">
                            <mat-label>Hint: {{question.hint}}</mat-label>
                            <input matInput name={{question.id}} (change)="onChange($event)" placeholder="">
                        </mat-form-field>
                    </div>
                </ng-template>
            </li>
        </ul>
    </form>   
</div>
<br/>
<div class="list row">
    <button
        type="submit"
        mat-raised-button 
        color="primary"
        (click)="submitSurvey()"
        >
        Submit
    </button>
</div>
<br/>
<br/>
