<div class="list row">
    <button
        mat-raised-button 
        color="accent"
        (click)="back()"
        >
        Back
    </button>
</div>
<br/>
<div class="list row">
    <h1>{{title}}</h1>
</div>
<div class="list row">
    <ul class="list-group">
        <li
            class="list-group-item"
            *ngFor="let question of questions; let i = index;"
        >
            {{ question.text }}    
            <ul class="list-group">
                <li
                    class="list-group-item"
                    *ngFor="let answer of question.answers; let i = index"
                >   
                    {{ answer.text }}
                    <h5 id="answer-count" style="color: rgb(82, 160, 82)"><u>Answer Count</u>: <strong> {{answer.count}}</strong></h5>                                   
                </li>                       
            </ul>
            <h5 style="color: rgb(54, 72, 179)"><u>Most Common Answer(s)</u>: <strong> {{ question.mostCommon }}</strong></h5>
            <h5 style="color: rgb(204, 86, 86)"><u>Least Common Answer(s)</u>: <strong> {{ question.leastCommon }}</strong></h5>
        </li>
    </ul>
  </div>
  <br/>

